/* ========== VARIABLES ========== */
:root {
  /* Colores principales */
  --color-primary: #2e7d32;
  /* Verde principal */
  --color-secondary: #ffffff;
  /* Blanco */
  --color-accent: #745633;
  /* Amarillo o para énfasis */
  --color-text: #333333;
  --color-muted: #666666;
  --color-bg: #f9f9f9;
  --color-success: #4caf50;

  /* Tipografía */
  --font-main: "Inter", sans-serif;

  /* Tamaños comunes */
  --container-width: 1200px;
  --radius: 1.25rem;
  --transition: 0.3s ease-in-out;
}

/* ========== RESET BÁSICO ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-secondary);
  color: var(--color-text);
  line-height: 1.6;
}

P {
  margin-bottom: 1lh;
}

/* ========== UTILIDADES ========== */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  padding: 4rem 0;
}

.section__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.section__title.align__Start {
  text-align: start;
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--color-primary);
}

.section__title span.brown {
  color: var(--color-accent);
}

.section__subtitle {
  text-align: center;
  color: var(--color-muted);
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

/* ========== BOTONES ========== */
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}

.btn--cta {
  position: absolute;
  bottom: -8rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  padding: 0.7rem 1.5rem;
  background-color: var(--color-secondary);
  color: var(--color-accent);
  font-weight: 700;
  transition: var(--transition);
}

.btn--cta-alt {
  background-color: var(--color-secondary);
  color: var(--color-accent);

}

.btn--cta:hover,
.btn--cta-alt:hover {
  transform: scale(0.95);
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.085);
}

.btn--login {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.btn--login:hover {
  background-color: var(--color-primary);
  color: white;
  transform: scale(0.95);
}

/* ========== HEADER ========== */
.header {
  background-color: var(--color-secondary);
  height: 60px;
  padding: .5rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.085);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo>a>img {
  height: 100%;
}

.nav__links {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.nav__links a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 700;
  transition: var(--transition);
}

.nav__links a:hover {
  color: var(--color-primary);
}

.header__actions {
  display: flex;
  align-items: center;
}

/* ========== HERO ========== */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 91vh;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-align: center;
  padding: 6rem 1rem 5rem;
  overflow: hidden;
}

.hero__content {
  position: relative;
  z-index: 2;
}

.hero__title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.hero__title span {
  color: #b2ff59;
  font-weight: 700;
}

.hero__subtitle {
  font-size: 1.25rem;
  margin-bottom: 0rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.hero__img {
  position: absolute;
  width: 300px;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
}

.hero__img-top {
  top: 0rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
}

.hero__img-left {
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.hero__img-right {
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/* ========== INFO: ¿Qué es la comida saludable? ========== */
.section--info {
  background-color: var(--color-secondary);
}

.info__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.info__image {
  flex: 1 1 45%;
  text-align: center;
}

.info__image img {
  max-width: 80%;
  height: auto;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
}

.info__text {
  flex: 1 1 50%;
}

.info__text p {
  font-size: 1.1rem;
  color: var(--color-muted);
  line-height: 1.8;
  max-width: 450px;
}

/* ========== MISIÓN Y VISIÓN ========== */
/* Se reutilizan estilos de la anterior sección */
.section--mision-vision {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mision-vision__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.info__image.icon img {
  max-width: 50%;
  height: auto;
}

/* ========== AYUDA INTERACTIVA ========== */
.section--ayuda {
  background-color: var(--color-secondary);
}

.ayuda__interactive {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem 0 0 5rem;
  padding: 0 3rem 0 0;
}

/* Lista izquierda */
.ayuda__list {
  flex: 1 1 250px;
  max-width: 300px;
}

.ayuda__list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ayuda__item {
  cursor: pointer;
  padding: 1rem;
  color: var(--color-muted);
  transition: var(--transition);
  font-weight: 500;
  border-left: 5px solid rgba(0, 0, 0, 0.085);
}

.ayuda__item:hover,
.ayuda__item.active {
  color: var(--color-primary);
  font-weight: 700;
  border-left: 5px solid var(--color-primary);
}

/* Panel derecho */
.ayuda__panel {
  flex: 1 1 400px;
  max-width: 600px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: var(--transition);
}

.ayuda__img {
  max-width: 150px;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: var(--radius);
}

.ayuda__desc {
  width: 350px;
  font-size: 1.1rem;
  color: var(--color-muted);
  line-height: 1.6;
  transition: var(--transition);
}

/* ========== SALUD ========== */
.section--salud {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 0 6rem 0 10rem;
}

.salud__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.salud__text {
  flex: 1 1 50%;
}

.salud__text h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.salud__text h2 span {
  color: var(--color-primary);
}

.salud__text p {
  width: 85%;
  font-size: 1.1rem;
  color: var(--color-muted);
  margin-bottom: 3rem;
  line-height: 1.7;
}

.salud__benefits {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1rem;
  color: var(--color-text);
}

.salud__benefits li {
  display: flex;
  align-items: center;

  & span {
    color: var(--color-primary);
    font-weight: 700;
    margin-right: 5px;
  }
}

.content--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 1.25rem;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.salud__image {
  flex: 1 1 45%;
  text-align: center;
}

.salud__image img {
  max-width: 80%;
  height: auto;
  mask-image: linear-gradient(black 80%, transparent);
}

/* ========== CTA FINAL ========== */
.section--cta {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-align: center;
  padding: 4rem 2rem;
}

.section--cta h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* ========== PLANES ========== */
.section--planes {
  background-color: var(--color-secondary);
  text-align: center;
  height: 100vh;
}

.planes__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.plan__card {
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.plan__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.plan__card img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.plan__card h3 {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.plan__card p {
  font-size: 0.95rem;
  color: var(--color-muted);
  margin-bottom: 0.75rem;
}

.plan__card span {
  font-weight: 600;
  color: var(--color-text);
}

.plan__card img {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

.plan__card p {
  font-size: 1rem;
  color: var(--color-muted);
  margin-bottom: 1.25rem;
}

.btn--cta-small {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 0.5rem 1.5rem;
  border-radius: var(--radius);
  text-decoration: none;
  transition: var(--transition);
  font-size: 0.95rem;
  font-weight: 600;
}

.btn--cta-small:hover {
  background-color: var(--color-success);
}


/* ========== FOOTER ========== */
.footer {
  /* background-color: var(--color-bg); */
  color: var(--color-text);
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.085);
  padding: 3rem 1rem 1rem;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: auto;
}

.footer__logo img {
  width: auto;
  height: 100%;

}

.footer__links h4,
.footer__social h4 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.footer__links ul {
  list-style: none;
  padding: 0;
}

.footer__links li {
  margin-bottom: 0.5rem;
}

.footer__links a {
  color: var(--color-muted);
  text-decoration: none;
  transition: var(--transition);
}

.footer__links a:hover {
  text-decoration: underline;
}

.social__icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  padding: 10px;
  margin-right: 0.5rem;
  display: inline-block;
  border-radius: var(--radius);
  transition: var(--transition);

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer__bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #b6b6b6;
}


/* Rewsponsi */
@media (max-width: 768px) {
  .ayuda__interactive {
    flex-direction: column;
    align-items: center;
  }

  .ayuda__list,
  .ayuda__panel {
    max-width: 100%;
  }

  .ayuda__panel {
    padding: 1.5rem;
  }

  .salud__content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .salud__text,
  .salud__image {
    flex: 1 1 100%;
  }

  .salud__benefits {
    align-items: center;
  }
}